<!-- templates/about.html -->
{% block content %}
{% load static %}

<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" tpye="text/css" href="{% static 'css/styles.css' %}">
		<title>About</title>
	</head>
	
	<header>
		<a href="{% url 'home' %}">Home</a> | <a href="{% url 'about' %}">About</a> | <a href="{% url 'delete' %}">Delete</a> | <a href="{% url 'insert' %}">Modify</a>
	</header>
	
	<body>
		<h1>About page</h1>
		<br>
		<h2>Creators: </h2>
		<br>
		<p>	
		Brayan Montiel, Hongan Zhang, Jason Chu, Mahamadsaad Sheikh, Scott Mesdjian
		</p>
	</body>
</html>
{% endblock content %}

<!-- reference for landing html/css: https://codepen.io/jkantner/pen/eYmvvqQ -->
