{% load static %}

{% block content %}
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" tpye="text/css" href="{% static 'css/styles.css' %}">
		<title>Analytics</title>
	</head>
	
	<header>
		<a href="{% url 'home' %}">Home</a> | <a href="{% url 'about' %}">About</a> | <a href="{% url 'delete' %}">Delete</a> | <a href="{% url 'insert' %}">Modify</a> | <a href="{% url 'analytics' %}">Analytics</a>
	</header>
	<div align="center">
		<h1>Analytics page</h1>

		<button type="button" onclick="myFunction()" value="Graph">
			<form align="left" id="" action="graph" method="get">
				<input type="submit" name="graph" value="Graph">
			</form>
		</button>

		<img src="{% static "media/MvFchart.png" %}" id="Piechart">

		<script>
		function myFunction() {
  			var x = document.getElementById("Piechart");
  			if (x.style.display === "none") {
    		x.style.display = "block";
  			} else {
    			x.style.display = "none";
  			}
		}
		</script>
	</div>
</html>
{% endblock content %}