{% load static %}

{% block content %}
<html>
    <head>
        <!--LINK JQUERY-->
        <script type="text/javascript" src="jquery-3.3.1.js"></script>
        <!--Personal JS-->
        <script type="text/javascript">
            function produceGraph1() {
            /*document.getElementById('form1').style.display = 'block';*/
            }
        </script>
    </head>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" tpye="text/css" href="{% static 'css/styles.css' %}">
		<title>Analytics</title>
	</head>
	
	<header>
		<a href="{% url 'home' %}">Home</a> | <a href="{% url 'about' %}">About</a> | <a href="{% url 'delete' %}">Delete</a> | <a href="{% url 'insert' %}">Modify</a> | <a href="{% url 'analytics' %}">Analytics</a>
	</header>
	<div align="center">
		<h1>Analytics page</h1>

		<button type="button" value="Produce Graph 1" onclick="produceGraph1();">
        Click to View Graph 1<br>
        <!--graph info here-->
		</button>
	</div>
</html>
{% endblock content %}