<!-- templates/delete.html -->
{% load static %}

{% block content %}

<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" tpye="text/css" href="{% static 'css/styles.css' %}">
		<title>Delete</title>
	</head>
	
    <header>
        <a href="{% url 'home' %}">Home</a> | <a href="{% url 'about' %}">About</a> | <a href="{% url 'delete' %}">Delete</a> | <a href="{% url 'insert' %}">Modify</a> | <a href="{% url 'analytics' %}">Analytics</a>
    </header>
    
    <div align="center"> 
        <h2>Delete Records</h2>
        <br> To delete simply enter ID of record you wish to delete.
        <p>Enter ID to delete: </p>
        <form action="delete" class="search-bar" method = "get">
            <input type="delete" name="delete" pattern=".*\S.*" required>
            <button class="search-btn" type="submit">
                <span>Delete</span>
            </button>
        </form>
        <p>{{delete}} </p>
    </div>
</html>
{% endblock content %}

<!-- reference for landing html/css: https://codepen.io/jkantner/pen/eYmvvqQ -->