<!-- templates/delete.html -->
{% load static %}

{% block content %}

<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" tpye="text/css" href="{% static 'css/styles.css' %}">
		<title>Delete</title>
	</head>
	
	<header>
		<a href="{% url 'home' %}">Home</a> | <a href="{% url 'about' %}">About</a> | <a href="{% url 'delete' %}">Delete</a>
	</header>
    
    <div style="text-align:center">Welcome to the delete page. To delete simply enter ID of record you wish to delete.
        <p>Enter ID to delete: </p>
    </div>
	<form action="delete" class="search-bar" method = "get">
		<input type="delete" name="delete" pattern=".*\S.*" required>
		<button class="search-btn" type="submit">
			<span>Delete</span>
		</button>
	</form>
    <div style="text-align:center">
        <p>{{delete}} </p>
	</div>
</html>
{% endblock content %}

<!-- reference for landing html/css: https://codepen.io/jkantner/pen/eYmvvqQ -->