<!-- templates/delete.html -->
{% load static %}

{% block content %}

<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" tpye="text/css" href="{% static 'css/styles.css' %}">
		<title>Delete</title>
	</head>
	
    <header>
		<a href="{% url 'home' %}">Home</a> | <a href="{% url 'about' %}">About</a> | <a href="{% url 'delete' %}">Delete</a> | <a href="{% url 'insert' %}">Modify</a>
	</header>

    <body>

        <div style="text-align:center"> <h1> Welcome to the delete page </h1> <h2> To delete simply enter ID of record you wish to delete </h2>
        </div>
        <br/><br/>
        <h3> Enter ID to delete: </h3>
            <form action="delete" class="search-bar" method = "get">
                <input type="delete" name="delete" pattern=".*\S.*" required>
                <button class="search-btn" type="submit">
                    <span>Delete</span>
                </button>
    
                <!--<input type="delete" name="delete" pattern=".*\S.*" required> -->
                <input type = "reset" value = "Undo"/>
            
            </form>
        <div style="text-align:center">
            <p>{{delete}} </p>
        </div>
    
    </body>
  

</html>
{% endblock content %}

<!-- reference for landing html/css: https://codepen.io/jkantner/pen/eYmvvqQ -->