<!-- templates/home.html -->
{% extends 'base.html' %}
{% load static %}

{% block content %}

<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" tpye="text/css" href="{% static 'css/styles.css' %}">
		<title>Search</title>
	</head>
	<form action="search" class="search-bar" method = "get">
		<input type="search" name="search" pattern=".*\S.*" required>
		<button class="search-btn" type="submit">
			<span>Search</span>
		</button>
	</form>

	
	<!-- 
    <form action = "" method = "get">
		<label for="your_search">Search: </label>
		<input id="your_search" type="text" name="your_search">
		<input type="submit" value="OK">
	</form>-->
</html>
{% endblock content %}

<!-- reference for landing html/css: https://codepen.io/jkantner/pen/eYmvvqQ -->